
<div class="container">
  <div class="col-md-12">
    <h1>Angular App</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt voluptate tempore fugit ratione officia consectetur, ab dignissimos maxime ducimus esse aliquid cumque itaque autem iste hic, quae atque molestiae.</p>
    <nav>
      <a routerLink="/home" >Home &nbsp;</a>
      <a routerLink="/about-us" >about us &nbsp;</a>
      <a routerLink="/works" >works &nbsp;</a>
      <!-- <a routerLink="/heroes" routerLinkActive="active">Heroes</a> -->
    </nav>
     <router-outlet></router-outlet>
  </div>
</div>